  <!-- Home container -->

  <!-- <div class="content selected home-container" id="main">
      <ul class="rainbow">
        <li>Nicole Arantes</li>
        <li>Nicole Arantes</li>
        <li>Nicole Arantes</li>
        <li>Nicole Arantes</li>
        <li>Nicole Arantes</li>
      </ul>
    </div> -->


/* Animation start */

/* @keyframes rainbow {
  0%  {top: 0;}
  20%  {top:-2rem;}
  60%  {top:2rem;}
  80%  {top:0;}
}

ul.rainbow {
  margin: 0;
  padding: 0;
  position: relative;
  color: #424242;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 6rem;
  letter-spacing: 10px;
}

ul.rainbow li {
    list-style: none;
    position: absolute;
    top: 0;
    cursor: default;
}

ul.rainbow li:nth-child(1){
    position:relative;
}

ul.rainbow:hover li {
    animation: rainbow 2s ease-in-out;
}

ul.rainbow li:nth-child(1) {
    animation-delay: 0ms;
    color: #64DD17;
}

ul.rainbow li:nth-child(2) {
    animation-delay: 50ms;
    color: #0336ff;
}

ul.rainbow li:nth-child(3) {
    animation-delay: 100ms;
    color: #ffde03;
}

ul.rainbow li:nth-child(4) {
    animation-delay: 150ms;
    color: #ff0266;
}

ul.rainbow li:nth-child(5) {
    animation: none;
}