body {
  background-color: white;
  color: #424242;
  font-family: 'Barlow Condensed', sans-serif;
  /* padding: 5% 15%; */
  /* padding: 20px; */
} 

h1 {
  color: #424242;
  /* max-width: 50%; */
  font-family: 'Bebas Neue', sans-serif;
  font-size: 7vw;
  margin-bottom: 0;
  /* margin-top: 10%; */
  position: rela;
}


h2 {
  color: #424242;
  font-family: 'Staatliches', sans-serif;
  max-width: 15%;
  height: auto;
  /* justify-content: space-between; */
  font-size: 4.5vw;
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  margin: 0;
  padding-top: 5%;
  /* padding-top: 5%; */
 }

 h3 {
  font-family: 'Staatliches', sans-serif;
  font-size: 2vw;
  color: #424242;
  max-width: 100%;
  height: auto;
} 

 p {
  color: #424242;
  /* max-width: 80%; */
  font-size: 2vw;
  /* text-align: center; */
  /* margin: 0 0 10% 5%; */
  /* padding-top: 15%; */
  /* padding-left: 10%; */
}

a {
  text-align: center;
  font-size: 1.8vw;
  color: #FF80AB;
  color: #424242;
}

a:hover {
  color: #F06292;
  text-decoration: none;
}

footer {
  position: relative;
  background-color: white;
  text-align: center;
}

/* Homepage */

#home {
  padding: 0 0 5% 10%;
  /* text-align: center; */
}
.title {
  padding-left: 35%;
  position: relative;
  bottom: 280px;
  display: table;
  /* margin: 0; */
}

.subtitle {
  text-align: center;
}

#about-me {
  display: -webkit-box;
  margin-left: 30%;
}

.about-me-p {
  padding: 10% 10%;
}

.self-img {
  border-radius: 20px;
  position: sticky;
  top: 0;
  z-index: -1;
  max-width: 40%;
  height: auto;
  padding: 7%  3% 0;
}

.group {
  display: -webkit-box;
  /* padding: 20px 0; */
} 

/* Skills and Projects Section */

#skills {
  background-color: black;
  padding: 5%;
 } 

 .fa-envelope {
   padding-left: 60px;
 }
 
 .skills-container {
    width: 50%;
 }

 .button-skills {
  background-color: #424242;
   text-align: center;
   width: 40px;
   height: 5px;
   border: 0;
   padding-right: 40px;
   border-radius: 15%;
 }

 .all-buttons-skills {
    text-align: center;
 }
/* Contact Section */

#contact {
  padding: 5%;
}

.contact-title {
  display: table;
}

.contact-form {
  width: 100%;
  display: table-caption;
  line-height: 1.6;
}

textarea {
  resize: none;
}

.contact-button {
  margin: 10px 0;
}

/* Footer */

.social-media {
  position: relative;
  right: 20%;
}

.social-media-icons {
  padding-right: 10px;;
}

/* Navbar */

nav ul {
  margin: 0;
  text-transform: uppercase;
  padding-top: 1%;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  line-height: 40px;
  font-family: 'Staatliches', sans-serif;
}

/* Footer and Copyright Section */

.copyright {
  color: #FF80AB;
  font-family: 'Staatliches', cursive;
  /* margin: 0; */
  font-size: 1vw;
  /* text-align: center; */
  /* line-height: 40px; */
  padding: 10px;
}

.footer-container {
  background-color: #ffebee;
  padding: 2%;  
}
p .copyright  {
 padding: 5px;
}

/* MediaQuery */
/*
@media (max-width: 600px) {
  ul.rainbow {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .content {
    flex-wrap: wrap;
  } */

  /* #skills span {
    margin: 0;
    text-align: left;
  }

  .contact-ul {
    width: 100%;
  }

  .contact-ul .full {
    display: none;
  }

  .contact-ul .short {
    display: inline;
  }
} */ 
